* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', 'Roboto';
}

/* HEADER */

#header {
  height: 120px;
  width: 100%;
  background-color: #f0e7d6;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 2px 4px #f0e7d6;
}

.box-title-prode h2 {
  color: #000000;
  font-size: 48px;
}

.box-title-prode a {
  color: #45661a;
  font-size: 18px;
}

.box-title-prode a:hover {
  color: #5c8528;
  font-size: 18px;
}

#logo {
  width: 150px;
  height: auto;
}

#logo img {
  width: 100%;
  height: 100%;
}

/* MAIN */

main {
  background-image: url(./img/background-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  overflow: hidden;
}

.principal-info {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000ad;
}

#description-container {
  padding: 1rem;
  margin: 4rem;
  background-color: #f0e7d6;
  border-radius: 5px;
  border: 2px solid #f0e7d6;
}

#description-container span {
  display: flex;
  justify-content: center;
  align-items: center;
}

#box-title h1 {
  font-size: 48px;
  font-weight: 400;
  color: #000000;
}

.box-title-prode {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box-title-prode h3 {
  font-size: 16px;
  font-weight: 400;
  color: #000000;
}

#box-subtitle {
  background-color: #f0e7d6;
  margin: 1rem 0.5rem;
  padding: 2rem;
  border-radius: 5px;
}

#box-subtitle h5 {
  font-size: 20px;
  font-weight: 400;
  color: #000;
}

/* FORM RESULTADOS  */

#form-container {
  /* background-color: #ffffffa2; */
  width: 50%;
  border-radius: 5px 5px 0 0;
}

#title-form {
  background-color: #f0e7d6;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px 5px 0 0;
}

#title-form h2 {
  font-size: 20px;
  font-weight: 400;
  color: #000000;
  padding: 1rem 2rem;
}

.form-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input.input-data {
  background: #f0e7d6;
  width: 33.333%;
  color: #000;
  text-align: center;
  padding: 1rem;
  font-size: 18px;
  font-weight: 600;
  border: 1px solid #ffa700;
  border-radius: 2px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.2s;
  margin-bottom: 1rem;
}

input.input-data:hover {
  background: #45661a;
  color: #f0e7d6;
  transition: 0.2s;
}

/* FORM DATA USER */

#box-data-user {
  margin: 2rem;
}

#wrapped-data-user {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  background: #000000ad;
  color: #ffffffe0;
}

#wrapped-data-user h2 {
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, 0.9);
  padding: 0 0 0.25rem 0;
  margin: 0 0 2rem 0;
  color: rgba(255, 255, 255, 0.9);
}

#wrapped-data-user input {
  padding: 0.5rem 1rem;
  color: #fff;
  background: #00000000;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
  margin: 0.25rem 0;
  width: 40%;
  border-bottom: 1px solid #f0e7d6;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
}

#wrapped-data-user input:focus {
  color: #fff;
  border-bottom: 1px solid #f0e7d6;
  border-top: none;
  border-left: none;
  border-right: none;
}

#wrapped-data-user input::placeholder {
  color: rgb(221, 221, 221);
}

/* FORM BUTTON */

.selected {
  background-color: #2e2e2e !important;
  color: #fff !important;
}

#div-button-form {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000ad;
}

#submit-form {
  background: #f0e7d6;
  color: #000000;
  box-shadow: 0 2px 4px #474747a2;
  text-align: center;
  padding: 1rem;
  font-size: 18px;
  font-weight: 600;
  border: 1px solid #f0e7d6;
  border-radius: 2px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.2s;
  margin: 3rem;
}

#submit-form:hover {
  background-color: #45661a;
  color: #f0e7d6;
}

/* FOOTER */

#footer {
  height: 50px;
  width: 100%;
  background-color: #f0e7d6;
  box-shadow: 0 2px 4px #f0e7d6;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer h5 {
  font-size: 12px;
  text-align: center;
  color: #45661a;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 768px) {
  #header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 225px;
  }

  div#logo {
    margin-bottom: 2rem;
  }

  main {
    background-repeat: repeat;
    background-size: auto;
    background-position: center;
  }

  .box-title-prode h2 {
    font-size: 18px;
  }

  #description-container {
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    width: auto;
  }

  #box-title h1 {
    font-size: 24px;
  }

  #box-subtitle {
    padding: 1rem;
  }

  #box-subtitle h5 {
    font-size: 18px;
  }

  #form-container {
    width: 90%;
  }

  .form-data {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0.5rem;
    text-align: center;
    background: #ffffff9c;
    margin: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px #474747a2;
  }

  input.input-data {
    width: 100%;
    text-align: center;
    padding: 1rem;
    margin: 0.5rem;
    font-size: 16px;
    border: 1px solid #f0e7d6;
  }

  #wrapped-data-user input {
    width: 100%;
  }

  #wrapped-data-user h2 {
    font-size: 18px;
  }
}
